@charset "utf-8";
/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

:root {
    --main-theme: #da4167;
    --sub-theme: #f4d35e;

    --body-bg: #ffffff;
    --text-light-color: #fff;
    --text-dark-color: #1b1b1b;
}

/*------------------------------------------------------ */

nav > ul {
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--text-dark-color);
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0 8px;
}

#check-input {
    display: none;
}

#check-button {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    z-index: 10;

    text-align: right;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32' fill='white'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;

    padding: 0 10px;
    width: 50%;
    height: 0;
    top: 0;
    left: 50%;
    z-index: 5;

    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    box-sizing: border-box;

    text-align: center;
    font-size: 0.9em;
    background-color: var(--body-bg);
}

nav > * {
    width: 100%;
}

nav ul {
    display: block;
    box-sizing: border-box;
}

nav li {
    padding: 16px 0;
}

nav li:not(:last-child)::after {
    display: block;
    position: relative;
    margin-inline: auto;
    top: 1em;
    width: 75%;
    height: 1px;

    content: '';
    background-color: rgb(0 0 0/0.1);
}

#check-input[type='checkbox']:checked ~ nav {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

@media screen and (min-width: 768px) {
    body {
        --nav-width: 200px;

        display: grid;
        grid-template-columns: var(--nav-width) 1fr;
    }

    #check-button {
        display: none;
    }

    nav {
        align-items: stretch;
        position: fixed;
        width: var(--nav-width);
        height: 100%;
        top: 0;
        left: 0;

        line-height: 1em;

        opacity: 1;
        visibility: visible;
        transition: none;
        border: none;
    }

    nav > * {
        position: relative;
        top: 128px;
    }

    nav li:not(:last-child)::after {
        background-color: rgb(0 0 0/0);
    }

    h1#title {
        top: 32px;
        z-index: 5;
        left: calc(var(--nav-width) / 8);
        width: calc(var(--nav-width) - var(--nav-width) / 4);

        text-align: center;
        background-image: none;
    }
}

@media screen and (min-width: 1080px) {
    body {
        --nav-width: 300px;
    }
} /*@media*/

/*------------------------------------------------------ */

body {
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 1em;
}

h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

h1 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    margin: 0;
    padding-left: 8px;
    height: 40px;

    font-size: 1.4em;
    font-weight: 300;
    color: var(--text-light-color);
}

h1#title {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}

h2 {
    position: relative;
    margin: 40px 0 0;
    padding: 8px 24px;

    border: solid 1px var(--main-theme);
}

h3,
h4,
h5,
h6 {
    display: flex;
}

:where(h3, h4, h5, h6)::after {
    position: relative;
    margin: 0 16px;
    width: 50%;
    height: 1px;
    bottom: -0.7em;
    left: 0;

    content: '';
    background-color: var(--main-theme);
}

#update {
    padding: 0.8em;
    height: 216px;

    background-color: rgb(0 0 0 / 0.05);
    background-color: rgb(255, 252, 245);

    li {
        display: grid;
        grid-template-columns: auto 1fr;

        margin: 4px 0;
        padding: 1em 0;
        line-height: 2.2;
    }

    li:not(:last-child) {
        border-bottom: 1px dotted var(--main-theme);
    }

    time {
        padding: 0em 1em;
    }
}

h1,
nav,
footer {
    background-image: linear-gradient(150deg, var(--main-theme) 20%, var(--sub-theme) 80%);
    animation: GradientBackground 7s ease infinite;
    background: linear-gradient(45deg, var(--sub-theme), var(--main-theme));
    background-size: 400% 400%;
}

li {
    padding-left: 0;
}

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1#title,
nav li a,
footer li {
    color: var(--text-light-color);
}

li a:hover {
    color: var(--sub-theme);
}

dl {
    grid-template-columns: 1fr;
}

dt,
dd {
    text-align: left;
}

dt {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    width: fit-content;

    color: var(--text-light-color);
    background-color: var(--main-theme);
}

dd {
    margin: 0 1em 1em;
    padding: 0;
    padding-left: 1em;
    border-left: #da4167 1px solid;
}

section {
    margin: 16px;
    padding: 16px;
}

section:first-of-type {
    margin-top: 64px;
}

section:last-child {
    margin-bottom: 64px;
}

#footer-c {
    margin: 0;
    top: -8px;
}

#footer-c a {
    color: var(--text-light-color);
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
    main {
        position: relative;
    }

    h1#title {
        display: block;
        position: fixed;
        z-index: 5;
        padding: 0;

        left: 0;
        top: 32px;
        width: var(--nav-width);

        text-align: center;
    }

    footer {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: var(--nav-width);

        font-size: small;
        background-image: none;
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
        width: 100%;
        max-width: 1000px;
    }
} /*@media*/

/*
  360 585 600 800 834
*/
