<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="discription" content="個人向けのHTMLテンプレートを配布しています。" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Capriola&family=Zen+Maru+Gothic:wght@400;700&display=swap"
            rel="stylesheet"
        />

        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/style.css?20250725" rel="stylesheet" />

        <title>傘の下 | HTMLテンプレート配布</title>
    </head>

    <body>
        <script src="//accaii.com/umumhtmltemp/script.js" async></script>
        <noscript><img src="//accaii.com/umumhtmltemp/script?guid=on" /></noscript>

        <div class="curved"></div>
        <div id="site-info">
            <img src="img/name.png" />
            <p><span class="clause">webサイト</span><span class="clause">テンプレート配布</span></p>
        </div>

        <nav>
            <ul>
                <li><a href="#s-0">はじめに</a></li>
                <li><a href="#s-2">利用規約</a></li>
                <li><a href="#s-3">テンプレート</a></li>
                <li><a href="#s-4">ツール</a></li>
                <li><a href="#s-5">リンク</a></li>
            </ul>
        </nav>

        <main>
            <section id="s-0">
                <h1>傘の下</h1>
                <h2>はじめに</h2>
                <p>
                    個人が練習で作ったhtml/cssテンプレートを配布しています。<br />利用規約にご同意の上で、同人サイトなどにご自由にお使いいただけます。
                </p>
                <p>
                    何かありましたらメールフォームまでお知らせください。
                    <br />なお、技術面のサポートは行っていません。動作確認はwindows11/chromeのみです。
                </p>

                <div>
                    <ul id="update">
                        <li><time>7/16~7/24</time>CSS差し替え：01シンプル、07線、08まどろみ、10白金、11ティラミス</li>
                        <li><time>7/16</time>目次追加JSのファイル差し替え、関連CSS追加<br /></li>
                        <li>
                            <time>7/14</time
                            >サーチリンク追加<br />テンプレート12「潮騒」追加<br />CSSスニペットに「改行をほどよく」追加
                        </li>
                        <li><time>5/19</time>ツール「CSSスニペット」を追加、サイトデザインをちょっと調整</li>
                        <li><time>5/14</time>テンプレート11「ティラミス」公開</li>
                        <li><time>2025/1/17</time>目次追加JSのファイル差し替えと調整</li>
                        <li><time>11/12</time>テンプレート10「プラチナ」公開</li>
                        <li><time>10/20</time>テンプレート09「にぎやか」５種公開</li>
                        <li><time>10/12</time>ファイル「目次追加JS」公開</li>
                        <li><time>10/6</time>テンプレート08「まどろみ」公開</li>
                        <li><time>10/3</time>テンプレート03「海と空」を取り下げ</li>
                        <li><time>10/2</time>ツール「バナー画像を作るやつ」公開</li>
                        <li><time>9/27</time>テンプレート07「線」公開</li>
                        <li><time>9/19</time>テンプレート06「四角」公開、01「シンプル」を差し替え</li>
                        <li><time>9/18</time><a href="note.html">更新履歴の詳細ページを新設　≫</a></li>
                        <li><time>9/14</time>テンプレート05「道」公開</li>
                        <li><time>9/7</time>テンプレート04「ラズベリー」公開</li>
                        <li><time>8/30</time>03「海と空」img周りの表示を修正</li>
                        <li><time>8/30</time>サイト開設、テンプレート01「シンプル」02「付箋」03「海と空」公開</li>
                        <!--<li><time>8/26</time>サイト作成</li>-->
                        <!--
                        <li><time></time></li>
                        -->
                    </ul>
                </div>
            </section>

            <section id="s-1">
                <h2>仕様</h2>
                <ul class="term-list">
                    <li>レスポンシブ対応です。</li>
                    <li>検索避けタグを入れています。</li>
                    <li>html/css、ものによってJavaScriptを使用しています。</li>
                    <li>不具合などがありましたらお知らせいただけると幸いです。</li>
                </ul>
            </section>

            <section id="s-2">
                <h2>利用規約</h2>
                <ul class="term-list">
                    <li id="term">ファイル内容の編集・カスタムはご自由にどうぞ。</li>
                    <li id="term">予告なく内容を変更したり、細々手入れをしたりすることがあります。</li>
                    <li id="taboo">
                        以下の利用は禁止です：
                        <ul>
                            <li>テンプレートの再配布</li>
                            <li>コメントアウトされた著作権表示の削除</li>
                            <li>画像類の直リンク</li>
                            <li>法や公序良俗に反するサイトでの使用</li>
                            <li>ほか良識のグレーゾーンを故意に狙う用途</li>
                        </ul>
                    </li>
                    <li id="taboo">当サイト配布物を使用したことによる損害には一切の責任を負いません。</li>
                </ul>
            </section>

            <section id="s-3">
                <h2>テンプレート</h2>
                <ul class="grid-3list">
                    <li>
                        <h3>01 シンプル</h3>
                        <img src="img/01simple.png" />
                        <div>
                            <a href="catalog/01simple/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/01simple.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>02 付箋</h3>
                        <img src="img/02husen.png" />
                        <div>
                            <a href="catalog/02husen/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/02husen.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>04 ラズベリー</h3>
                        <img src="img/04raspberry.png" />
                        <div>
                            <a href="catalog/04raspberry/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/04raspberry.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>05 道</h3>
                        <img src="img/05load.png" />
                        <div>
                            <a href="catalog/05load/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/05load.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>06 四角</h3>
                        <img src="img/06square.png" />
                        <div>
                            <a href="catalog/06square/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/06square.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>07 線</h3>
                        <img src="img/07line.png" />
                        <div>
                            <a href="catalog/07line/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/07line.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>08 まどろみ</h3>
                        <img src="./img/08slumber.jpg" />
                        <div>
                            <a href="catalog/08slumber/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/08slumber.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>09 にぎやか（×５）</h3>
                        <img src="img/09lively.jpg" />
                        <div>
                            <a href="catalog/09lively/yoyo.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/09lively.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>10 白金</h3>
                        <img src="img/10platinum.jpg" />
                        <div>
                            <a href="catalog/10platinum/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/10platinum.zip"><button>Zip</button></a>
                        </div>
                    </li>
                    <li>
                        <h3>11 ティラミス</h3>
                        <img src="img/11tiramisu.jpg" />
                        <div>
                            <a href="catalog/11tiramisu/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/11tiramisu.zip"><button>Zip</button></a>
                        </div>
                    </li>

                    <li>
                        <h3>12 潮騒</h3>
                        <img src="img/12seasound.jpg" />
                        <div>
                            <a href="catalog/12seasound/index.html" target="_blank"><button>Demo</button></a>
                            <a href="catalog/12seasound.zip"><button>Zip</button></a>
                        </div>
                    </li>

                    <!--
                    <li>
                        <h3></h3>
                        <img src="img" />
                        <div>
                            <a href="catalog" target="_blank"><button>Demo</button></a>
                            <a href="catalog"><button>Zip</button></a>
                        </div>
                    </li>
                --></ul>
            </section>

            <section id="s-4">
                <h2>ツール</h2>
                <ul class="grid-2list">
                    <li>
                        <h3>CSSスニペット</h3>
                        <p>部分的なCSSの配布ページです。細かいやつの置き場になります。<br />コピペでご利用ください。</p>
                        <div>
                            <a href="./css-snippets.html" target="_blank"><button>CSSスニペット</button></a>
                        </div>
                    </li>

                    <li>
                        <h3>目次追加JS</h3>
                        <p>
                            ページ内の見出しタグ（h2・h3・h4）から目次（ul）を作るJavaScriptファイルです。詳細はDemoページでご確認ください。
                        </p>
                        <p>
                            HTMLベタ打ちのサイト向け。PPPなど一部CMSでも動きます。タグ打ちで楽することを目的としています。
                        </p>
                        <div>
                            <a href="../works/add-tablecontents/index.html" target="_blank"><button>Demo</button></a>
                            <a href="../works/add-tablecontents/add-tablecontents.zip" target="_blank"
                                ><button>Zip</button></a
                            >
                        </div>
                    </li>

                    <li>
                        <h3>バナー画像を作るやつ</h3>
                        <img src="img/tool01.png" class="banner" />
                        <p>
                            ↑こういうバナー画像をブラウザ上で作ります。<br />やれることは文字入れ・簡易な装飾など。そんなに高機能ではないので、手軽に作りたいときや、制作環境がない場合向けです。
                        </p>
                        <div>
                            <a href="../works/banner_canvas/index.html" target="_blank"
                                ><button>バナー画像を作るやつ</button></a
                            >
                        </div>
                    </li>
                </ul>
            </section>

            <section id="s-5">
                <h2>リンク</h2>
                <dl class="link-info">
                    <dt>サイト名</dt>
                    <dd>傘の下</dd>
                    <dt>サイトURL</dt>
                    <dd>https://um-umbrella.github.io/template/</dd>
                    <dt>バナー</dt>
                    <dd><img src="img/banner.png" class="banner" /></dd>
                    <dt>連絡</dt>
                    <dd><a href="https://um-umbrella.github.io/mail.html" target="_blank">メールフォームへ</a></dd>
                </dl>

                <hr />

                <p>
                    <a href="https://compslink.jp/" target="_blank">COMPASS LINK</a>
                    ｜
                    <a href="https://ietsuku.i-ra.site/" target="_blank">いえつく</a>｜<a
                        href="https://s.10prs.com/"
                        target="_blank"
                        >ハコサチ</a
                    >
                </p>
                <p>
                    <a href="https://jaymantri.com/" target="_blank">jay mantri</a>
                    ｜
                    <a href="https://remixicon.com/" target="_blank">Remix Icon</a>
                    ｜
                    <a href="https://css-pattern.com/" target="_blank">CSS Pattern</a>
                    ｜
                    <a href="https://pattern.monster/" target="_blank">Pattern Monster</a>
                </p>
                <p><a href="https://zenn.dev/ojk?tab=books" target="_blank">文系大学生のための○○入門</a></p>
            </section>
        </main>

        <footer>
            <ul>
                <li>©2024- under my umbrella/傘の下 - 倉林</li>
            </ul>
        </footer>
    </body>
</html>
