<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="discription" content="個人向けのHTMLテンプレートを配布しています。" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Capriola&family=Zen+Maru+Gothic:wght@400;700&display=swap"
            rel="stylesheet"
        />

        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <title>傘の下-履歴 | HTMLテンプレート配布</title>
    </head>

    <body>
        <div class="curved"></div>
        <div id="site-info">
            <h1>更新履歴</h1>
            <img src="img/name.png" />
            <p>更新履歴など</p>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">トップに戻る</a></li>
            </ul>
        </nav>

        <main>
            <section id="log">
                <h2>履歴</h2>
                <dl>
                    <dt id="20241020">10/20</dt>
                    <dd>
                        目次追加JSにh2～h3を一括で目次化するファイルを追加しました。古いものも一応ダウンロードファイルに含んだままです。
                    </dd>
                    <dt id="20241003">10/3</dt>
                    <dd>
                        テンプレート03「海と空」を取り下げました。
                        <hr />
                        よそ様の配布テンプレートに似ていることが気になったためです。申し訳ありません。同デザインの再公開予定はないです。
                    </dd>
                    <dt id="20240921">9/21</dt>
                    <dd>
                        テンプレート03、04、05を差し替えました。
                        <hr />
                        主な変更点は内外の調整とモーダルウィンドウの追加です。以前との互換性はありますが、調整に伴いデザインの一部を変更しています（特に03）。
                    </dd>
                    <dt id="20240919">9/19</dt>
                    <dd>
                        テンプレート01「シンプル」を差し替えました。
                        <hr />
                        １．見た目と中身をちょっと整頓しました。主に著作権表示とCSSだけの変更ですが、メニュー周りは以前と互換性がありません（HTML側の<mark>bodyの最初～mainの前まで</mark>）。テンプレートの更新時はHTML/CSS両方を差し替えてください。
                        <hr />
                        ２．ギャラリー向けのモーダルウィンドウ表示を組み込みました。せっかくなので、他のテンプレートにもたぶん追加します。
                    </dd>
                    <dt id="20240918">9/18</dt>
                    <dd>
                        禁止行為に「著作権表示の削除」があったのですが、うっかり表側に著作権表示のないテンプレートがありました。本当にすみません。テンプレートの不足部分は差し替えました。
                        <hr />
                        これらの変更によるご利用中テンプレートの差し替えなどは必要ありません。表示なしが気になる方は当サイトへのリンクなどに替えてください（任意です）。<br />
                    </dd>
                    <dt><span class="clause">2024/</span>9/18</dt>
                    <dd>
                        履歴ページを新設。<br />そんなに使うかは分かりませんが、長文などでトップページの更新履歴に入りきらないときはこちらに記載します。
                    </dd>
                </dl>
            </section>
        </main>

        <footer>
            <ul>
                <li>©2024- under my umbrella/傘の下 - 倉林</li>
            </ul>
        </footer>
    </body>
</html>
