@charset "UTF-8";

:root {
    --main-theme: #acc;
    --main-bg: #fff;
    --text-dark-color: #333;
    --text-light-color: #fff;
}

/*------------------------------------------------------------*/

body {
    font-family: sans-serif、system-ui;
    color: var(--text-dark-color);
    padding: 0;
    margin: 0;
    background-color: var(--main-theme);
}

::selection {
    /*選択中の色変え*/
    background-color: var(--main-theme);
    color: var(--text-light-color);
}

main {
    max-width: 500px;
    min-width: 300px;
    margin: 2em auto;
}

a:any-link {
    text-decoration: none;
    color: #348b4d;
}

h1 {
    color: var(--text-dark-color);
}

form {
    background-color: var(--main-bg);
    padding: 1em 2em;
    border-radius: 1em;
}

/*-------------------------------------------------------------*/

.button {
    display: inline;
    padding: 0.5em 1em;
    background-color: var(--main-theme);
    color: var(--text-light-color);
}

.button:hover {
    color: var(--text-dark-color);
}

input,
textarea {
    background-color: #eee;
    color: var(--text-dark-color);
}

input {
    border: none;
    max-width: 200px;
}

textarea {
    resize: none;
    width: 100%;

    border-radius: 0.5em;
    border: none;
}

#powered {
    font-size: small;
}
