/*やるぞ～*/
/* カスタムプロパティ */
:root {
  --main-color: #481;
  --most-white: #fff; /*メインの土台*/
  --most-black: #000;
  --high-gray: #eee; /*背景*/
  --low-gray: #298; /*枠など*/
  --font-size: 14px;
  line-height: 1.3em;
}

::selection {
  /*   選択したテキストに適用 */
  color: var(--most-white);
  background-color: var(--main-color);
}

body {
  font-size: 14px;
  padding: 1em;
  background-color: var(--high-gray);

  font-family: sans-serif;
  padding: 0;
  margin: 3em;
  color: #333333;
  font-size: 14px;
  text-align: center;
}
/*h1 {
  color: var(--most-white);
  background-color: var(--main-color);
  padding-left: 0.3em;
  margin: 0;
}
*/

h1,
h2 {
  display: inline;
  width: 200px;
  position: relative;
  translate: -0.5em 1em;
  padding: 0.5em 0.7em;
  z-index: 1;
  border: 2px solid var(--most-black);
  box-shadow: 5px 5px var(--most-black);
  background-color: var(--most-white);
  color: var(--most-black);
}

h2::before {
  content: '！';
  color: var(--most-white);
  background-color: var(--main-color);
  padding: 0 0.2em;
  margin-right: 0.3em;
  border-radius: 50em;
}

h3 {
  transform: rotate(5deg); /*傾き*/
  display: inline-block;
  position: relative;
  translate: -0.5em 1em;
  padding: 0.5em 0.7em;
  z-index: 1;
  border: 2px solid var(--most-black);
  box-shadow: 5px 5px var(--most-black);
  background-color: var(--most-white);
  color: var(--most-black);
}

a:any-link {
  text-decoration: none;
  color: var(--most-white);
  background-color: var(--main-color);
  border-radius: 0.2em;
  padding: 0 15px;

  position: relative;
}

a::before {
  display: inline-block;

  position: absolute;
  left: -10px;
  bottom: 0;
  width: 4px;
  height: 4px;
  content: '';
  border-radius: 50%;
  border: solid 9px var(--main-color);
  background: var(--most-white);
}

div {
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  text-align: left; /*★*/
}

p {
  list-style-type: disc;
  list-style-position: inside;
  border: solid 2px var(--low-gray);
  background-color: var(--most-white);
  margin: 1.5em 0 3em;
  padding: 1em;
  font-size: var(--font-size);
}

/*メモリス*/
#memo ol {
  transform: rotate(-1deg); /*傾き*/
  list-style-type: disc;
  list-style-position: inside;
  position: relative;
  bottom: 1em;
  padding: 2em;
  margin: 0;
  border: solid 2px var(--low-gray);
  background-color: var(--most-white);
  font-size: 13px;
}
#memo li {
  padding: 0.1em;
}
#memo li:not(:last-child) {
  border-bottom: dashed 1px #ccc;
}
#memo li::marker {
  color: var(--main-color);
  font-size: 1.3em;
}

.list {
  list-style-type: disc;
  list-style-position: inside;
  border: solid 2px var(--low-gray);
  font-size: 14px;
  background-color: var(--most-white);
  padding: 1em 0;
  font-size: var(--font-size);
}

dd:not(:last-child) {
  padding: 0 0 0.5em;
  padding: 0 0 1em;
  border-bottom: dashed 1px #ccc;
}

dl dt {
  font-weight: 600;
  margin: 1 2em;
}
dl dd {
  margin: 0 3em 1em;
}
