<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />

        <title>タイトル</title>
        <meta name="ietsuku-url-auth" content="Xk4E9CiyhG63xFJZY7uUl8AOBHnrNDWI" />
    </head>

    <body>
        <main>
            <section>
                <h1>ページタイトル</h1>
                <p>こういうテーマです。</p>
                <p>
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />テキストテキストテキストテキストテキスト
                </p>
            </section>

            <section>
                <h1>見出し１</h1>
                <h2>見出し２</h2>
                <h3>見出し３</h3>
                <h4>見出し４</h4>
                <h5>見出し５</h5>
                <a href="">リンク</a>
                <a href="">リンク</a>
                <a href="">リンク</a>
                <button>ボタン</button> <button>ボタン</button>
                <p><mark>markで下線を引きます</mark>。</p>
                <ul>
                    <li>リスト１</li>
                    <li>リスト２</li>
                </ul>
            </section>

            <section>
                <img src="img/thum.jpg" />
                <p>画僧はこんな感じ。 大きい画像は最大縦300pxで表示されます。</p>
                <img src="img/thum_ob.jpg" />
                <img src="img/thum_ver.jpg" />

                <img src="img/thum.jpg" class="trim" />
                <p>
                    imgにclass="trim"を付けると、最大縦300pxでトリミングし、応じた横幅で表示します。横長すぎるなどの画像向け。
                </p>
            </section>
        </main>
        <script src="script.js"></script>
    </body>
</html>
