@charset "utf-8";
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

:root {
    --main-theme: #dfe5eb;
    --sub-theme: #eff0f3;
    --body-bg: #ffffff;
    --text-dark-color: #353535;
    --text-light-color: #fff;
}

/*------------------------------------------------------ */

/* 基本レイアウト -------------------------*/

body {
}

nav {
    width: 100%;

    ul {
        margin: 1em auto;
        width: fit-content;
        margin: 3em 0;
        margin-inline: auto;
        list-style: none;
    }

    li {
        margin: 0.5em 0.1em;
        padding: 0;
        transition: 0.3s;

        a {
            padding: 0.3em 1em;
            color: var(--text-dark-color);
        }
    }

    li.color a {
        background-color: var(--main-theme);
    }

    li:not(.color):hover a {
        background-color: var(--sub-theme);
        transition: 0.3s;
    }
}

@media screen and (min-width: 768px) {
    h1#title {
        margin: 0;
    }

    nav.top {
        ul {
            margin: 0;
        }
    }
}

nav:not(.top) {
    position: fixed;
    margin: 0;
    padding: 0;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 8px #fff;

    z-index: 5;
    background-color: rgb(255 255 255 / 0.7);
    font-size: 0.9em;

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    li {
        padding: 0;
    }

    li a {
        display: block;
        margin: 0;
        padding: 0.3em 1em;
    }
}

@media screen and (min-width: 608px) {
    nav:not(.top) {
        font-size: 1em;

        li a {
            margin: 0;
            padding: 0.5em 3em;
        }
    }
}

main {
    width: 100%;
}

footer {
    margin: 3em 0 2em;
    font-size: smaller;
    text-align: center;
    color: rgb(0 0 0 / 0.5);
}

.grid,
.grid13,
.grid3 {
    display: grid;
    gap: 0;
    align-items: center;
    margin: 0;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid13 {
        grid-template-columns: 1fr 3fr;
    }

    footer {
        position: relative;
        z-index: 10;
        bottom: 0;
        left: 0;

        font-size: small;
    }
}

@media screen and (min-width: 1080px) {
    body {
    }
} /*@media*/

/*------------------------------------------------------ */

/* パーツデザイン ----------------------*/

h1:not(#title),
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 2em 0 1em;

    font-weight: normal;
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    margin: 1em 0;
    padding: 0;

    text-align: center;
    font-size: 3em;
    color: var(--text-light-color);
    text-shadow: 0 0 4px var(--text-dark-color);
}

h3 {
    margin: 2em 1em 1em;
    font-size: 1.5em;
}

h4 {
    margin: 1em 2em;
    font-size: 1em;
}

h5,
h6 {
    font-size: 1.1em;
}

a:hover,
button:hover {
    cursor: pointer; /* 手の形のカーソル */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*上下に大きい空白*/
.space-y {
    --space-y: 4em;

    margin-top: var(--space-y) !important;
    margin-bottom: var(--space-y) !important;
}

/*左右に大きい余白*/
.space-x {
    margin-inline: auto;
    max-width: 400px;
}

@media screen and (min-width: 768px) {
}

/* ------------------------------------------------------------------- */
/* デザイン -------------------*/

body {
    font-family: serif;
}

.bg-cover {
    margin: 0;
    width: 100%;
    height: 100px;

    background-color: var(--main-theme);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-img {
    height: 520px;
}

.top-text {
    margin-top: 96px;
    margin-bottom: 96px;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
}

a.button {
    margin: 0.3em;
    padding: 0.2em 4em;
    opacity: 1;
    transition: 0.3s;
    font-size: 0.8em;
    color: var(--text-light-color);
}

a.button:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.button-qn {
    /* a */
    background-color: saddlebrown;
}

.button-x {
    background-color: steelblue;
}

/*------------------------- */

/* トップページの注意書き */

.caution {
    display: block;
    padding: 2em;
    height: auto;

    div {
        margin: 1em;
        margin-inline: auto;
        padding: 1.5em 2em;
        max-width: 500px;

        background-color: var(--text-light-color);

        p:nth-child(odd) {
            text-align: center;
            font-size: 1.5em;
        }
    }
}

@media screen and (min-width: 1000px) {
    .caution {
        display: flex;
        padding: 5em 1em;
        height: auto;

        div {
            width: 100%;
            max-width: 28.5%;
            min-height: 200px;
            height: 360px;
        }
    }
} /*@media*/

@media screen and (min-width: 1200px) {
    .caution {
        div {
            p:nth-child(2) {
                padding: 1.5em 1.4em;
            }
        }
    }
}

/* クエストリスト */

.quest-list {
    border-top: 1px solid var(--main-theme);
    border-bottom: 1px solid var(--main-theme);

    .grid-child {
        display: block;
    }

    .grid-child > * {
        padding: 1em;
    }

    .bg-cover {
        height: auto;
    }

    .button-area {
        margin: 5em 0 3em;
        padding: 0;

        p {
            margin: 0;
            padding-left: 1em;
            text-align: center;
        }

        ul.flex {
            margin: 0.3em 0.5em;
            list-style: none;
            opacity: 0.5;
            font-size: 0.9em;

            li {
                position: relative;
                margin: 0.2em;
                padding: 0.2em;
            }

            li:not(:last-child):after {
                display: block;
                position: absolute;
                width: 1em;
                height: 1em;
                top: 0.2em;
                right: -1em;

                content: '/';
                color: rgb(0 0 0 / 0.5);
            }
        }
    }

    .button-area > p:nth-child(1) {
        /*クエストリンク*/
        margin: 1em 0;
        border: 1px solid var(--text-dark-color);
        text-align: center;
        padding-left: 0;
        width: 50%;
        margin-inline: auto;

        a {
            display: block;
            color: var(--text-dark-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .quest-list {
        list-style: none;
        flex-direction: column;

        h3 {
            margin: 2em;
            margin-bottom: 0;
        }

        h4 {
            margin: 2em 3em;
        }

        .grid-child {
            display: grid;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            margin: 0;

            .bg-cover {
                min-height: 500px;
            }

            div {
                position: relative;
                padding: 0;
                height: 100%;
            }

            .button-area {
                position: absolute;
                padding: 0 2em;
                left: 0;
                right: 0;
                height: auto;
                bottom: 0;
            }
        }

        .grid-child:nth-child(even) {
            div:nth-child(1) {
                order: 2;
            }
            div:nth-child(2) {
                order: 1;
            }
        }
    }
} /*@media*/

@media screen and (min-width: 1080px) {
    .quest-list {
        h3 {
            margin: 2em;
            margin-bottom: 0;

            font-size: 1.8em;
        }

        h4 {
            margin: 2em 3em 0;
            font-size: 1.3em;
        }

        .grid-child {
            height: 600px;
        }
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
    }
} /*@media*/

/*------------------------------------------------------ */
