@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Shippori+Mincho&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

:root {
    --main-theme: #a19b1d;
    --sub-theme: #ebece9;
    --body-bg: #ffffff;
    --text-dark-color: #1b1b1b;
    --text-light-color: #fff;
}

/*------------------------------------------------------ */

/* リセットCSS */

html {
    scroll-behavior: smooth;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    line-height: 1.8em;
    font-family: 'Shippori Mincho', serif;
    font-weight: 300;
    background-color: var(--body-bg);
    color: var(--text-dark-color);
}

ol,
ul {
    margin: 1em;
}

li {
    margin: 0.4em 1em;
    line-height: 1.6em;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--main-theme);
    transition: color 0.3s;
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 0.5em 0;
}

mark {
    color: inherit;
    background-color: rgb(0 0 0 / 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--sub-theme) 60%);
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

hr {
    margin: 128px;
    margin-inline: auto;
    width: 100%;
    border: none;
    border-top: 3px double rgb(0 0 0 /0.1);
}

button {
    margin: 0 0.2em;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    background-color: var(--main-theme);
    color: var(--text-light-color);
    transition: background-color 0.3s;
}

img {
    max-width: 100%;
}

/* 基本レイアウト -------------------------*/

main {
    container-type: inline-size;
    container-name: main-container;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;

    padding: 0 1em;
    width: 60%;
    min-width: 200px;
    height: 0;
    top: 0;
    right: 0;
    z-index: 1;

    opacity: 0;
    transition: 0.5s;
    visibility: hidden;

    text-align: center;
    font-size: 0.9em;
    background-color: var(--body-bg);
    box-shadow: 0 0 4px var(--sub-theme), 0 0 4px var(--sub-theme);

    ul {
        display: block;
        width: 100%;
    }

    li {
        margin: 0;
        padding: 1em 0;

        list-style: none;
    }

    li:not(:last-child) {
        border-bottom: 1px solid rgb(0 0 0/0.1);
    }

    a {
        color: var(--text-dark-color);
    }
}

#check-input {
    display: none;
}

#check-button {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    z-index: 5;

    text-align: right;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32' fill='currentColor'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
}

#check-input[type='checkbox']:checked ~ nav {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

footer {
    font-size: smaller;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5em 0;
        padding: 1em 0 0;

        list-style: none;
    }

    li {
        margin: 0 0.5em;
    }

    #footer-c {
        display: block;
        margin: 0 0 1em;
        left: 0;
        bottom: 0;

        opacity: 0.5;
        text-align: center;
        font-size: x-small;
        color: var(--text-dark-color);

        a {
            color: var(--text-dark-color);
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    #check-button {
        display: none;
    }

    nav {
        z-index: -1;
        position: fixed;
        align-items: stretch;
        align-content: center;
        width: calc(100vw / 4.042);
        height: 100%;
        top: 0;
        left: 0;

        opacity: 1;
        visibility: visible;
        transition: none;
        line-height: 1em;
        border: none;

        box-shadow: 0 0 1em var(--sub-theme);

        li {
            padding: 0.5em 0;
        }

        li:not(:last-child) {
            border: none;
        }
    }

    footer {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: calc(100vw / 4.042);

        font-size: small;
    }
}

@media screen and (min-width: 768px) {
    .grid2,
    .grid3,
    .grid12,
    .grid21 {
        display: grid;
        gap: 1em;
        margin: 1em 0;
    }

    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1080px) {
        .grid3 {
            grid-template-columns: repeat(3, 1fr);
        }
        .grid12 {
            grid-template-columns: 1fr 2fr;
        }
        .grid21 {
            grid-template-columns: 2fr 1fr;
        }
    }
}

/*------------------------------------------------------ */

/* パーツデザイン ----------------------*/

:where(h1:not(#title), h2)::after,
:where(h3, h4, h5, h6)::before,
h1,
h2,
h3,
h4,
h5,
h6,
#update time {
    font-family: 'Dancing Script', 'Shippori Mincho', serif;
}

h1:not(#title),
h2,
h3,
h4,
h5,
h6 {
    margin: 5em 0 2em;
    margin-left: -0.5em;
    padding: 0;
}

h1:not(#title),
h2 {
    margin: 3em 0;
    margin-inline: auto;
    width: fit-content;

    text-align: center;
    border-bottom: 3px double var(--main-theme);
}

h1 {
    font-size: 2em;
}

h1#title {
    line-height: 1em;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5,
h6 {
    font-size: 1.1em;
}

:where(h1:not(#title), h2)::after {
    display: block;
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;

    font-size: 0.7em;
    font-weight: normal;
    content: attr(subtitle);
    color: var(--main-theme);
}

:is(h3, h4, h5, h6) {
    padding-left: 2em;
}

:where(h3, h4, h5, h6)::before {
    display: block;
    position: absolute;
    top: -0.2em;
    left: 0;
    right: 0;
    z-index: -1;

    line-height: 0.8em;
    font-size: 2.5em;
    font-weight: normal;
    content: attr(subtitle);
    color: var(--sub-theme);
}

@media screen and (min-width: 768px) {
    h1#title {
        position: fixed;
        z-index: 5;

        top: 3em;
        left: 0;
        width: calc(100vw / 4.042);

        text-align: center;
    }
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 2em 0;

    dt {
        padding: 0.2em 1em;
        width: fit-content;

        font-size: 0.9em;
        border-top: 1px solid var(--main-theme);
        border-bottom: 1px solid var(--main-theme);
    }

    dd {
        margin-bottom: 1em;
        margin-left: 1em;
        padding: 0.5em;
        padding-top: 0;

        font-size: 0.8em;
    }
}

button:hover {
    background-color: #a19a1dae;
    transition: 0.3s;
}

button a,
a button {
    color: var(--text-light-color);
}

button a:hover {
    color: var(--text-light-color);
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

section {
    margin: 0 2em;
    padding: 0;
}

/* ------------------------------------------------------------------- */
/* 追加のデザイン -------------------*/

.clause {
    display: inline-block;
}

.bg-cover {
    padding: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#update {
    margin: 1em auto;
    padding: 0 0.5em;
    width: 100%;
    height: 216px;

    overflow-y: scroll;
    list-style: none;

    line-height: 1em;
    color: var(--text-dark-color);
    border-top: 3px double var(--main-theme);
    border-bottom: 3px double var(--main-theme);

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        margin: 0.5em 0;
        padding: 1em 0;
    }

    li:not(:last-child) {
        border-bottom: 2px dotted var(--sub-theme);
    }

    time {
        margin: 0 1em;
        padding: 0;
        height: fit-content;

        font-size: 1em;
        color: var(--main-theme);
    }
}

#update::-webkit-scrollbar {
    display: none;
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
        width: 100%;
        max-width: 800px;
    }

    section {
        margin-left: 3em;
    }
} /*@media*/
