<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <link href="style.css?0919" rel="stylesheet" />

        <title>テンプレート「四角」ギャラリーページ</title>
    </head>

    <body>
        <main>
            <div class="menu_bar">
                <h1>Gallery Page Title</h1>
                <nav>
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">メニュー１</a></li>
                        <li><a href="#">メニュー２</a></li>
                    </ul>
                    <a href="#"><button class="to-top"></button></a>
                </nav>
            </div>

            <section class="gallery">
                <div class="white">
                    <p>
                        ギャラリー向けのテーマです。展示や素材配布など、画像メインでずら～っと並べる想定です。<br />divで囲んだ内容が四角の一つになります。<mark>class="modal-window"</mark>の画像はクリックで拡大表示します。
                    </p>
                    <p>長文のテキストなどは<a href="about.html">別ページ</a>へ。</p>
                </div>

                <div>
                    <img class="trim modal-window" src="img/01.jpg" alt="画像の説明" />
                </div>

                <div>
                    <img class="trim modal-window" src="img/02.jpg" alt="画像の説明" />
                </div>

                <div class="new">
                    <img class="trim modal-window" src="img/03.jpg" alt="画像の説明" />
                </div>

                <div class="black">
                    <p>
                        divに<mark>class=""</mark>を付けると黒背景になります。<br />divにclass="new"を付けると新着の表示が付きます。
                    </p>
                </div>

                <div>
                    <img class="trim modal-window" src="img/04.jpg" alt="画像の説明" />
                </div>

                <div class="new">
                    <img class="trim modal-window" src="img/thum.jpg" alt="画像の説明" />
                </div>

                <div class="new">
                    <img class="trim modal-window" src="img/05.jpg" alt="画像の説明" />
                </div>
            </section>
        </main>
        <script src="script.js"></script>
    </body>
</html>
