<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <title>テンプレート「四角」ギャラリーページ</title>
    </head>

    <body>
        <div>
            <h1 id="title">Gallery Page Title</h1>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#">メニュー１</a></li>
                    <li><a href="#">メニュー２</a></li>
                </ul>
                <a href="#"><button class="to-top"></button></a>
            </nav>
        </div>

        <main>
            <section class="gallery">
                <div class="white">
                    <p>
                        ギャラリー向けテーマです。展示や素材配布など、画像メインでずら～っと並べる想定。<br />divで囲んだ内容が四角の一つになります。
                    </p>
                    <p>
                        長文のテキストは<a href="about.html">テキスト向けのテンプレート</a
                        >を使ってください。（このように端がはみだします）
                    </p>
                </div>

                <div>
                    <img class="trim modal-window" src="img/01.jpg" alt="画像の説明" />
                </div>

                <div>
                    <img class="trim modal-window" src="img/02.jpg" alt="画像の説明" />
                </div>

                <div class="new">
                    <img class="trim modal-window" src="img/03.jpg" alt="画像の説明" />
                </div>

                <div class="black">
                    <p><mark>class="modal-window"</mark>の画像はクリックで拡大表示します。</p>
                    <p>
                        divに<mark>class=""</mark>を付けると黒背景になります。<br />divにclass="new"を付けると新着の表示が付きます。
                    </p>
                </div>

                <div>
                    <img class="trim modal-window" src="img/04.jpg" alt="画像の説明" />
                </div>

                <div class="new">
                    <img class="trim modal-window" src="img/thum.jpg" alt="画像の説明" />
                </div>

                <div class="new">
                    <img class="trim modal-window" src="img/05.jpg" alt="画像の説明" />
                </div>
            </section>
        </main>

        <footer>
            <ul>
                <li>フッター</li>
                <li>サイト情報など</li>
            </ul>
            <p id="footer-c">
                <a href="https://um-umbrella.github.io/template/" target="_blank">template by 傘の下</a>
            </p>
        </footer>

        <script src="script.js"></script>
    </body>
</html>
