@charset "utf-8";

:root {
    --main-theme: #71b2bc;
    --sub-theme: #d3e6bf;
    --body-bg: #ffffff;
    --text-dark-color: #1b1b1b;
    --text-light-color: #fff;
}

/*------------------------------------------------------ */

/* リセットCSS */

html {
    scroll-behavior: smooth;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    line-height: 1.8em;
    font-family:
        'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', Meiryo, sans-serif;

    font-weight: 300;
    background-color: var(--body-bg);
    color: var(--text-dark-color);
}

ol,
ul {
    margin: 1em;
}

li {
    margin: 0.4em 1em;
    line-height: 1.6em;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--main-theme);
    transition: color 0.3s;
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 0.5em 0;
}

mark {
    color: inherit;
    background-color: rgb(0 0 0 / 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--sub-theme) 60%);
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

hr {
    margin: 64px;
    margin-inline: auto;
    width: 70%;
    border: none;
    border-top: 1px solid rgb(0 0 0 /0.1);
}

button {
    margin: 0 0.2em;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;

    background-color: var(--main-theme);
    color: var(--text-light-color);
    transition: background-color 0.3s;
}

img {
    max-width: 100%;
}

/* 基本レイアウト -------------------------*/

body {
    margin: auto;
    max-width: 90%;
}

main {
    container-type: inline-size;
    container-name: main-container;
}

@media screen and (min-width: 768px) {
    body {
        max-width: 600px;
    }
}

/*------------------------------------------------------ */

/* パーツデザイン ----------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0;
    padding: 0;
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5,
h6 {
    font-size: 1.1em;
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    border: 3px dotted #efefef;

    dt {
        margin: 0.1em 0;
        padding: 0.5em 1em;
        width: fit-content;

        font-size: 0.9em;
        background-color: var(--sub-theme);
    }

    dd {
        margin-bottom: 0em;
        margin-left: 1em;
        padding: 0.5em;
        padding-left: 1em;

        font-size: 0.8em;
    }

    dd:before {
        display: block;
        position: absolute;
        content: '＞';
        font-weight: bold;
        left: 0;
        color: var(--sub-theme);
    }
}

button:hover {
    background-color: var(--sub-theme);
}

button a,
a button {
    color: var(--text-light-color);
}

button a:hover {
    color: var(--text-light-color);
}

section {
    margin: 1em 0;
    padding: 0;
}

/* ------------------------------------------------------------------- */
/* 追加のデザイン -------------------*/

dl#output {
    width: 100%;
    height: 40vh;

    align-content: start;
    grid-auto-rows: min-content;

    resize: none;
    outline: none;
    scrollbar-width: none;
    overflow-y: scroll;
    line-height: 1.5em;
}

.clause {
    display: inline-block;
}

.not_title_text {
    color: rgb(0 0 0 / 0.4);
    background-color: #f8f8f8;
}

fieldset {
    border: none;
    font-size: 0.8em;

    label {
        display: inline-block;
    }
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 0.1em;
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
        width: 100%;
        max-width: 1000px;
    }
} /*@media*/
