@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

:root {
    --main-theme: #71b2bc;
    --sub-theme: #d3e6bf;
    --body-bg: #fff;
    --text-dark-color: #333;
    --text-light-color: #fff;
}

nav {
    padding: 8px;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 1;

    text-align: center;
    text-shadow: var(--main-theme) 0 0 8px, var(--main-theme) 0 0 8px;
    a {
        color: var(--text-light-color);
    }
}

#nav-bg {
    position: absolute;
    object-fit: cover;

    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: -5;
}

section {
    margin: 32px;
    padding: 16px;
}

section:first-of-type {
    margin-top: 64px;
}

section:last-child {
    padding-bottom: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 0.8em 0 16px;

    font-family: 'Dancing Script', 'Noto Sans JP', system-ui;
    font-weight: 300;
}

:where(h1, h2, h3, h4, h5, h6):before {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    opacity: 0.3;
    font-size: 2em;
    text-shadow: 0 0 4px, 0 0 4px, 0 0 2px;
    content: attr(subtitle);
    color: var(--main-theme);
    white-space: nowrap;
}

:where(h3, h4, h5, h6):before {
    opacity: 0.5;
    color: var(--sub-theme);
}

#update {
    position: relative;
    margin: 0 auto;
    padding: 0.8em;
    width: 100%;
    height: 216px;

    overflow-y: scroll;
    list-style: none;

    line-height: 1em;
    font-family: inherit;
    font-size: inherit;
    color: var(--text-dark-color);
    background-color: rgb(249, 248, 249);

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        margin: 4px 0;
        padding: 1em 0;
    }

    li:not(:last-child) {
        border-bottom: 1px dotted var(--main-theme);
    }

    time {
        margin: 0 1em;
        padding: 0.5em 1em;
        height: fit-content;

        border-radius: calc(1px * infinity);
        color: var(--text-light-color);
        background-color: var(--main-theme);
    }
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
    body {
        --grid-width: 200px;

        display: grid;
        grid-template-columns: var(--grid-width) 1fr;
    }

    #check-button {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: calc(var(--grid-width) - var(--grid-width) * 4 / 5);

        width: 160px;
        height: 70vh;

        opacity: 1;
        visibility: visible;
        transition: none;
        border: none;
    }

    nav ul {
        margin-top: -16px;
    }

    nav li {
        padding: 8px;
    }

    nav li:not(:last-child) {
        border: none;
    }

    #nav-bg {
        border-radius: 0 0 calc(infinity * 1px) calc(infinity * 1px);
    }

    dl {
        grid-template-columns: 128px 1fr;
    }

    h1#title {
        position: fixed;
        width: 128px;
        top: 16px;
        left: 56px;
        z-index: 5;

        text-align: center;
        font-weight: 300;
        color: var(--text-light-color);
        text-shadow: var(--main-theme) 0 0 8px, var(--main-theme) 0 0 8px;
    }

    h1#title:before {
        content: '';
    }

    footer {
        position: fixed;
        z-index: 10;
        bottom: 35vh;

        left: calc(var(--grid-width) - var(--grid-width) * 4 / 5);

        width: 160px;
        font-size: small;
        font-weight: 200;
        color: var(--text-light-color);
    }

    footer ul {
        display: block;
        text-align: center;
    }

    #footer-c {
        top: 0;
        white-space: nowrap;
    }
    #footer-c a {
        color: var(--text-light-color);
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    body {
        --grid-width: 300px;
    }

    main {
        max-width: 900px;
    }

    nav {
        left: calc(var(--grid-width) - var(--grid-width) * 3.5 / 5);
    }

    h1#title {
        width: 160px;
        left: 90px;
    }

    .grid > * {
        flex-grow: 1;
    }

    footer {
        bottom: 35vh;
        left: calc(var(--grid-width) - var(--grid-width) * 3.5 / 5);
    }
} /*@media*/
