@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    font-family: 'Noto Sans JP', system-ui;
    font-weight: 300;
    background-color: var(--body-bg);
}

main {
    position: relative;
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

nav > ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0 8px;
}

li {
    margin: 0 32px;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--sub-theme);
    transition: color 0.3s;
}

a:not(:where(nav a, button a)) {
    color: var(--main-theme);
    transition: 0.3s;
}

nav a {
    color: var(--text-dark-color);
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 16px 0;
}

mark {
    color: inherit;
    background-color: rgb(255, 255, 255, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--sub-theme) 60%);
}

hr {
    margin: 32px;
    border: none;
    border-top: 1px solid rgb(0 0 0 /0.1);
}

h2 {
    padding: 16px 0 8px;
}
h3 {
    padding: 16px 0 8px;
}

h4 {
    padding: 8px 0 0;
}

h5,
h6 {
    padding: 8px 0 0;
    font-size: 1em;
}

img:not(:where(.img-grid, .addWindow) > img) {
    display: block;
    margin: 16px auto;
    object-fit: scale-down;
    width: 100%;
    max-height: 300px;
    box-sizing: border-box;
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

button {
    margin: 0 4px;
    padding: 8px 16px;
    border: none;

    background-color: var(--main-theme);
    color: var(--body-bg);
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--sub-theme);
}

dl {
    display: grid;
    grid-template-columns: 84px 1fr;
    gap: 16px 0;

    margin: 16px 0;
}

dt {
    border: 1px solid var(--main-theme);
}

dt,
dd {
    padding: 8px;
}

dd {
    line-height: 1.6em;
}

.clause {
    display: inline-block;
}

/*  メニュー類  ----------------------------*/

footer {
    position: relative;
    font-size: smaller;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 0;

    list-style: none;
}

footer li {
    margin: 0 8px;
}

#footer-c {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 8px;
    left: 0;
    bottom: 0;

    text-align: center;
    font-size: x-small;
    color: var(--text-dark-color);
    opacity: 0.5;
}

#footer-c a {
    color: var(--text-dark-color);
}

.grid {
    display: flex;
    flex-wrap: wrap;

    --grid-gap: 16px;
    gap: var(--grid-gap);
}

.grid > * {
    display: block;
    width: 100%;
}

.img-grid {
    --grid-gap: 16px;
    margin: calc(var(--grid-gap));
    gap: calc(var(--grid-gap));

    text-align: center;
}

@media screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .img-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-grid > img {
        max-width: 300px;
    }
} /*600px*/

/*モーダルウィンドウ*/
.addWindow {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;

    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.25s ease-out;
}

.addWindow > img {
    position: relative;
    object-fit: scale-down;
    z-index: 50;
    margin: 16px auto;
    top: 0;
    left: 0;

    width: 80%;
    height: 80%;
    max-height: 80%;
}

.addWindow > p {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    margin: auto;
    padding: 0;

    text-align: center;
    color: var(--text-light-color);
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
    #check-button {
        display: none;
    }

    dl {
        grid-template-columns: 128px 1fr;
    }
} /*@media*/

/*------------------------------------------------------ */
