@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;900&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

nav > ul {
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--text-dark-color);
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0 8px;
}

#check-input {
    display: none;
}

#check-button {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    z-index: 10;

    text-align: right;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32' fill='currentcolor'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;

    padding: 0 10px;
    width: 50%;
    height: 0;
    top: 0;
    left: 50%;
    z-index: 5;

    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    box-sizing: border-box;

    text-align: center;
    font-size: 0.9em;
    background-color: var(--main-theme);
}

nav > * {
    width: 100%;
}

nav ul {
    display: block;
    box-sizing: border-box;
}

nav li {
    padding: 16px 0;
}

nav li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
}

#check-input[type='checkbox']:checked ~ nav {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/*----------------------------------------------------*/

:root {
    --main-theme: #efefef;
    --sub-theme: #333;
    --body-bg: #ffffff;
    --text-dark-color: #333;
    --text-light-color: #fff;
}

body {
    font-family: 'Zen Maru Gothic', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
        sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 1em;
    margin-inline: auto;
    padding-bottom: 0.5em;
    width: fit-content;

    border-bottom: 1px solid var(--sub-theme);
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

a:any-link {
    color: var(--sub-theme);
}

a:any-link:hover {
    color: var(--text-dark-color);
}

button a,
a button {
    opacity: 0.5;
    background-color: var(--sub-theme);

    transition: 0.5s;
}

:where(button a, a button):hover {
    background-color: var(--main-theme);

    opacity: 1;
    transition: 0.5s;
}

mark {
    background-image: none;
    border-bottom: 1px solid var(--text-dark-color);
}

dl {
    margin: 1.2em 0;
}

dt {
    background-color: var(--main-theme);
}

#update {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    height: 196px;

    list-style: none;
    overflow-y: scroll;

    color: var(--text-dark-color);
    background-color: var(--main-theme);
    border-radius: 4px;

    li {
        display: grid;
        grid-template-columns: auto 1fr;

        margin: 0;
        padding: 1em 0;
    }

    li:not(:last-child) {
        border-bottom: 2px double var(--body-bg);
        border-width: 3px;
    }

    time {
        margin: 0 1em;
        padding: 0.2em 1em;
        height: 1.5em;

        line-height: 1em;
        border-radius: calc(1px * infinity);
        color: var(--text-dark-color);
        background-color: var(--text-light-color);
    }
}

#update::-webkit-scrollbar {
    display: none;
}

/*------------------------------------------------------ */

main {
    margin: 2em 0;
    padding: 0 1em;
}
section {
}

/*------------------------------------------------------ */

@media screen and (min-width: 585px) {
    body {
        isolation: isolate;

        display: grid;
        grid-template-columns: 200px 1fr;
    }

    main {
        width: 100%;
        max-width: 800px;
    }

    #check-button {
        display: none;
    }

    nav {
        align-items: flex-end;

        visibility: visible;
        width: 136px;
        height: 100%;
        top: 0;
        left: 0;

        opacity: 1;
        background-color: #fff;
        border: none;
        border-right: 1px solid var(--text-dark-color);
        transition: none;
    }

    #check-input[type='checkbox']:checked ~ nav {
        height: 100%;
    }

    nav li:not(:last-child) {
        width: 100%;
    }

    nav ul {
        position: relative;
        bottom: 33%;
        left: 0;
        width: 100%;

        text-align: right;
    }

    nav li {
        padding: 8px 0;
    }

    h1 {
        position: fixed;
        top: 16px;
        left: 118px;
        z-index: 5;

        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        white-space: nowrap;

        font-size: 3em;
        font-weight: 900;
        color: #fff;
        -webkit-text-stroke: 1px var(--text-dark-color);
        mix-blend-mode: color-dodge;
    }

    footer {
        position: fixed;
        z-index: 5;
        width: 136px;
        left: 0;
        bottom: 0;

        font-size: small;
        border-top: none;
    }

    footer ul {
        flex-wrap: wrap;
    }

    #footer-c {
        bottom: 0;
        white-space: nowrap;
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    body {
        grid-template-columns: 300px 1fr;
    }
    main {
        max-width: 1000px;
    }

    nav {
        width: 200px;
        left: 0;
    }

    h1 {
        left: 182px;
    }

    .grid > * {
        flex-grow: 1;
    }

    footer {
        width: 200px;
    }

    #footer-c {
        bottom: 0;
    }
} /*@media*/
