@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;900&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

:root {
    --main-theme: #757979;
    --sub-theme: #eee;
    --body-bg: #ffffff;
    --text-dark-color: #4b4b4b;
    --text-light-color: #fff;
}

/*------------------------------------------------------ */

/* リセットCSS */

html {
    scroll-behavior: smooth;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    line-height: 1.8em;
    font-family: 'Zen Maru Gothic', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
        sans-serif;
    font-weight: 300;
    background-color: rgb(0 0 0 / 0);
    color: var(--text-dark-color);
}

ol,
ul {
    margin: 1em;
}

li {
    margin: 0.4em 1em;
    line-height: 1.6em;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--main-theme);
    transition: color 0.3s;
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 0.5em 0;
}

mark {
    background-color: rgb(0 0 0 / 0);
    background-image: none;
    border-bottom: 1px solid var(--text-dark-color);
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

hr {
    margin: 64px;
    margin-inline: auto;
    width: 70%;
    border: none;
    border-top: 1px solid rgb(0 0 0 /0.1);
}

button {
    margin: 0 0.2em;
    padding: 0.5em 2.5em;
    border: none;

    border-radius: calc(1px * infinity);
    border: 1px solid var(--text-dark-color);
    transition: background-color 0.3s;
    background-color: rgb(0 0 0 / 0);
    color: var(--text-dark-color);
}

img {
    max-width: 100%;
}

/* 基本レイアウト -------------------------*/

main {
    container-type: inline-size;
    container-name: main-container;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;

    padding: 0 1em;
    width: 60%;
    min-width: 200px;
    height: 0;
    top: 0;
    right: 0;

    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;

    text-align: center;
    font-size: 0.9em;
    background-color: var(--sub-theme);
    border-left: 1px solid var(--text-dark-color);

    ul {
        display: block;
        width: 100%;
    }

    li {
        margin: 0;
        padding: 1em 0;

        list-style: none;
    }

    li:not(:last-child) {
        border-bottom: 1px solid rgb(0 0 0/0.1);
    }

    a {
        color: var(--text-dark-color);
    }
}

#check-input {
    display: none;
}

#check-button {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    z-index: 5;

    text-align: right;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32' fill='currentColor'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
}

#check-input[type='checkbox']:checked ~ nav {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

footer {
    font-size: smaller;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5em 0;
        padding: 1em 0 0;

        list-style: none;
    }

    li {
        margin: 0 0.5em;
    }

    #footer-c {
        display: block;
        margin: 0 0 1em;
        left: 0;
        bottom: 0;

        opacity: 0.5;
        text-align: center;
        font-size: x-small;
        color: var(--text-dark-color);

        a {
            color: var(--text-dark-color);
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    #check-button {
        display: none;
    }

    nav {
        position: fixed;
        align-items: stretch;
        align-content: center;
        width: calc(100vw / 4.042);
        min-width: 50px;
        height: 100%;
        top: 0;
        left: 0;

        z-index: 0;
        opacity: 1;
        visibility: visible;
        transition: none;
        line-height: 1em;
        border: none;

        li {
            padding: 0.5em 0;
        }

        li:not(:last-child) {
            border: none;
        }
    }

    footer {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: calc(100vw / 5.042);
        min-width: 50px;

        font-size: small;
    }
}

@media screen and (min-width: 768px) {
    .grid2,
    .grid3,
    .grid12,
    .grid21 {
        display: grid;
        gap: 1em;
        margin: 1em 0;
    }

    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1080px) {
        .grid3 {
            grid-template-columns: repeat(3, 1fr);
        }
        .grid12 {
            grid-template-columns: 1fr 2fr;
        }
        .grid21 {
            grid-template-columns: 2fr 1fr;
        }
    }
}

/*------------------------------------------------------ */

/* パーツデザイン ----------------------*/

h1:not(#title),
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 1em;
    padding: 16px 0 8px;
}

h1#title {
    text-align: center;
    font-size: 2em;
}

h1:not(#title) {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h1:not(#title),
h2 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 3em 0 2em;
}

h2::before,
h2::after {
    content: '';
    border-bottom: 3px double var(--text-dark-color);
}

h2::before {
    margin-right: 1em;
}

h2::after {
    margin-left: 1em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5,
h6 {
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
    nav {
        width: calc(100vw / 5);

        border-right: 0.1em solid var(--text-dark-color);
        background-color: var(--sub-theme);
    }

    h1#title {
        position: fixed;
        width: calc(100vw / 4.042);
        top: 0.5em;
        left: calc(100vw / 4.95);

        z-index: 0;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        -webkit-text-stroke: 1px var(--text-dark-color);
        mix-blend-mode: lighten;
        white-space: nowrap;

        font-size: 3em;
        font-weight: 900;
        color: var(--sub-theme);
        text-shadow: 0 0 1px var(--text-dark-color);
    }
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 2em 0;

    dt {
        padding: 0.3em 2em;
        width: fit-content;

        font-size: 0.9em;
        border: 1px solid var(--main-theme);
        background-color: var(--sub-theme);
    }

    dd {
        margin-bottom: 0.5em;
        padding: 1em 1.5em;
        top: -1px;

        font-size: 0.9em;
        border: 1px solid var(--main-theme);
    }
}

button:hover {
    background-color: var(--sub-theme);
}

button a,
a button {
    color: var(--text-dark-color);
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

section {
    margin: 1em 0;
    padding: 0 2em;
}

/* ------------------------------------------------------------------- */
/* 追加のデザイン -------------------*/

.clause {
    display: inline-block;
}

.bg-cover {
    padding: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#update {
    margin: 1em auto;
    padding: 0.5em;
    width: 100%;
    height: 208px;

    overflow-y: scroll;
    list-style: none;

    line-height: 1em;
    color: var(--text-dark-color);

    border-radius: 16px;
    border: 1px solid var(--text-dark-color);

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        margin: 0 1em;
        padding: 1em 0;
    }

    li:not(:last-child) {
        border-bottom: 1px solid var(--main-theme);
    }

    time {
        margin: 0;
        margin-right: 1em;
        padding: 0.2em 1em;
        height: fit-content;

        border: 1px solid var(--text-dark-color);
        color: var(--text-dark-color);
        background-color: var(--text-light-color);
    }
}

#update::-webkit-scrollbar {
    display: none;
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
        width: 100%;
        max-width: 860px;
    }
} /*@media*/
