<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <link href="css/style.css" rel="stylesheet" />

        <title>テンプレート「潮騒」</title>
    </head>

    <body>
        <header class="bg-cover" style="background-image: url('./img/top.jpg')">
            <h1 id="title">The sound of the sea</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#sec1">Menu1</a></li>
                <li><a href="#sec2">Menu2</a></li>
                <li><a href="#sec3">Menu3</a></li>
            </ul>
        </nav>

        <main>
            <section id="sec1">
                <h2>About</h2>
                <p>淡いめのテーマです。</p>
                <p>
                    トップ画像の変更はHTMLの<mark>header</mark>の<mark>url('./img/top.jpg')</mark>部分を、
                    タイトル部分の絵文字の変更はCSSの<mark>h1#title::after</mark>内の<mark>content: '🐚';</mark
                    >を変更してください。
                </p>

                <ul id="update">
                    <li><time>7.14</time>テンプレート公開</li>
                    <li><time>6.31</time>更新履歴２<br />更新履歴の詳細</li>
                    <li><time>5.32</time>更新履歴３</li>
                </ul>
            </section>

            <section id="sec2">
                <h2>見出し２</h2>
                <p>
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>

                <h3>見出し３</h3>
                <p>
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>

                <h4>見出し４</h4>
                <p>
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>

                <h5>見出し５</h5>
                <p>
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>

                <h6>見出し６</h6>
                <p>
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </p>

                <hr />
                <a href="">リンク</a>
                <a href="">リンク</a>
                <a href="">リンク</a>
                <a><button>ボタン</button></a> <button><a>ボタン</a></button>
                <p><mark>markで下線を引きます</mark>。</p>
                <ul>
                    <li>リスト１</li>
                    <li>リスト２</li>
                </ul>

                <ol>
                    <li>リスト１</li>
                </ol>

                <dl>
                    <dt>項目テキスト</dt>
                    <dd>
                        項目の説明<br />
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </dd>
                    <dt>項目</dt>
                    <dd>項目の説明</dd>
                </dl>
            </section>

            <section id="sec3">
                <h2>グリッド・画像</h2>

                <p>
                    imgに<mark>class="trim"</mark>を付けると、横いっぱい・縦最大300pxでトリミングして表示します。縦横比に差がある画像向け。それ以外の場合、大きい画像は最大縦300pxで表示されます。
                </p>

                <div class="grid2">
                    <p>
                        グリッド表示1-1。<br /><mark>div class="grid"</mark>の中身はグリッド表示（最大二列）になります。
                    </p>
                    <p>
                        グリッド表示1-2。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <p>
                        グリッド表示1-3。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                </div>

                <div class="grid3">
                    <p>
                        グリッド表示2-1。<br /><mark>div class="grid-triple"</mark
                        >の中身はグリッド表示（最大三列）になります。
                    </p>
                    <p>
                        グリッド表示2-2。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <p>
                        グリッド表示2-3。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>

                    <img class="trim" alt="画像の説明" src="img/thum_ob.jpg" />
                    <img class="trim" alt="画像の説明" src="img/thum.jpg" />
                    <img class="trim" alt="画像の説明" src="img/thum_ver.jpg" />
                </div>

                <div class="img-grid">
                    <!--画像をぎっしり並べたい場合は親要素にimg-gridクラスを指定してください（小さい画像向け）-->
                    <img src="img/banner.jpg" />
                    <img src="img/banner.jpg" />
                    <img src="img/banner.jpg" />
                    <img src="img/banner.jpg" />
                </div>

                <img class="" alt="画像の説明" src="img/thum_ob.jpg" />
            </section>
        </main>

        <footer>
            <p id="footer-c">
                <a href="https://um-umbrella.github.io/template/" target="_blank">template by 傘の下</a>
            </p>
        </footer>
    </body>
</html>
