@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
img,
p,
ul,
table,
th,
td,
div {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    font-family: 'Noto Sans JP', system-ui;
    margin: 0;
    padding: 0;

    font-weight: 300;
}

a:any-link {
    text-decoration: none;
    color: #aaa;
}

p {
    line-height: 2em;
    padding: 0.3em 0;
}

mark {
    background-color: rgb(255, 255, 255, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, #ee4b4b 60%);
}

::selection {
    background-color: #aaa;
    color: #fff;
}

img {
    display: block;
    margin: 1em auto;
    object-fit: scale-down;

    width: 100%;
    max-height: 300px;
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

#update {
    /*更新履歴*/
    overflow-y: scroll;
    list-style: none;

    font-family: inherit;

    width: 80%;
    height: 4em;
    margin: 0 auto;
    padding: 0 0.5em;

    line-height: 1em;
    color: #333;
    background-color: #eee;
    border-radius: 0.1em;
}

#update > li {
    margin: 0.5em 0;
    padding: 0;
}

#update::-webkit-scrollbar {
    display: none;
}

time {
    padding-right: 1em;
}

.span_block {
    display: inline-block;
}

/*------------------------------------------------------ */

:root {
    font-size: small;
}

/*----------*/

body {
    position: relative;
    margin: 16px;

    background-color: #eee;
}

#camera {
    /*撮影枠を囲んでいる*/
    margin: 16px;
}

#capture::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;

    font-size: small;
    opacity: 1;
    color: #eee;
    content: '';
    background-color: #000;
}

#capture > p {
    position: absolute;
    top: -6px;
    left: 4px;
    color: #eee;
}

#capture::after {
    position: relative;
    left: 4px;
    top: 6px;
    width: 100%;
    height: 16px;

    opacity: 0.3;
    color: #fff;
    content: 'クエノのアクション画面を再現するやつ';
}

#capture {
    /*撮影枠*/
    display: inline-block;
    position: relative;
    padding: 16px 0;

    border: solid 4px #000;

    color: #fff;
    background-color: #4d423d;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='200' height='200' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgb(77, 66, 61)'/%3E%3Cpath d='M10 0L20 10L30 0L30 10L40 10L30 20L40 30L30 30L30 40L20 30L10 40L10 30L0 30L10 20L0 10L10 10z' fill='rgba(43, 60, 66,0.1)'/%3E%3Cpath d='M9 10L20 10.5L10 20zM30 9L29.5 20L20 10zM31 30L20 29.5L30 20zM10 31L20 30L10.5 20z' fill='rgba(116, 66, 16,0.1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}
.tl_frame_large {
    /*行動者ごとの枠*/
    margin: 16px;
}
.action_player {
    /*行動者名*/
    padding: 0;
}
.tl_frame_small {
    /*行動者名を除いた行動入れ*/
    display: flex;

    margin: 1px;
}
.action_set {
    /*１アクション入れ*/
    display: grid;
    grid-template-columns: 64px auto;
    position: relative;

    margin: 4px;
    width: 192px;

    border: solid 1px #fff;
}
.action_name {
    /*アクション名*/
    position: absolute;
    top: 4px;
    left: 2px;
    padding: 0;
    z-index: 1;

    line-height: 1em;
}
.action_icon {
    /*アクションアイコン*/
    display: inline;
    margin: 0;
    width: 64px;
    height: 64px;

    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.icon_none {
    opacity: 0;
}

.icon_move {
    background-image: url(img/move.svg);
}
.icon_spark {
    background-image: url(img/spark.svg);
}
.icon_hand {
    background-image: url(img/hand.svg);
}
.icon_shield {
    background-image: url(img/shield.svg);
}
.icon_fire {
    background-image: url(img/fire.svg);
}
.icon_nocomment {
    background-image: url(img/nocomment.svg);
}
.icon_sword {
    background-image: url(img/sword.svg);
}

.icon_bubble {
    background-image: url(img/bubble.svg);
}
.icon_circle {
    background-image: url(img/circle.svg);
}
.icon_bottle {
    background-image: url(img/bottle.svg);
}

.action_target {
    /*アクションの対象*/
    display: inline;
    margin: auto 16px auto 0;
    line-height: 1em;
}

.action_will_frame {
    position: absolute;
    bottom: 0;
    left: 0;
}

.action_will {
    display: inline-block;
    margin: 2px;

    width: 16px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;

    content: '';
    background-image: url(img/leaf.svg);
}

.action_ap {
    position: absolute;
    padding: 0;
    right: 4px;
    top: 0;

    opacity: 0.6;
    color: #ffcece;
}

/*------------------------------------------*/

h1 {
    line-height: 1.5em;
}

/*入力欄を狭める*/
input {
    width: 64px;
}

#preset {
    width: 100px;
}

#action_name {
    width: 104px;
}

#action_ap,
#action_will {
    width: 40px;
}

#action_target {
    width: 72px;
}

button {
    margin: 8px;
    margin-left: 1px;
    padding: 4px 8px;

    border: none;
    border-radius: 4px;
    font-family: inherit;

    background-color: #7d7676;
    color: #fff;
}

button:hover {
    background-color: #000;
}

.menu_colum > label {
    display: inline-block;
    margin: 8px 0 32px;
}

.menu_main {
    display: inline-block;
    padding: 16px;

    line-height: 2em;
    border-radius: 8px;
    background-color: #ddcdcd;
}

.menu_main > button {
    margin-bottom: 0;
}

select {
    width: 64px;
}

#cap_button {
    margin: 8px 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 100px;

    background-color: #000;
    color: #fff;
}

.ano {
    margin: 32px 0;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
}

dl {
    line-height: 1.5em;
}

dt::before {
    content: '？';
    font-weight: 600;
    color: #bbb;
}
dd {
    margin: 0 0 8px 16px;
}

dd::before {
    content: '→';
    font-weight: 600;
    color: #aeaeae;
}

hr {
    border: rgba(0, 0, 0, 0);
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
} /*@media*/
