@charset "utf-8";

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    line-height: 1.8em;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    font-weight: 300;
    background-color: var(--body-bg);
    color: var(--text-dark-color);
}

main {
    position: relative;
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

ul {
    margin: 1em;
}

li {
    margin: 0.4em 1em;
    line-height: 1.6em;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--main-theme);
    transition: color 0.3s;
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 16px 0;
}

mark {
    color: inherit;
    background-color: rgb(255, 255, 255, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--sub-theme) 60%);
}

hr {
    margin: 64px;
    margin-inline: auto;
    width: 70%;
    border: none;
    border-top: 1px solid rgb(0 0 0 /0.1);
}

button {
    margin: 0 4px;
    padding: 8px 16px;
    border: none;

    background-color: var(--main-theme);
    color: var(--text-light-color);
    transition: background-color 0.3s;
}

button a,
a button {
    color: var(--text-light-color);
}

button a:hover {
    color: var(--text-light-color);
}

button:hover {
    background-color: var(--sub-theme);
}

dl {
    display: grid;
    grid-template-columns: 84px 1fr;
    gap: 0;

    margin: 1em 0;
}

dt {
    text-align: right;
}

dt,
dd {
    padding: 8px;
}

img:not(:where(.img-grid, .addWindow) > img) {
    display: block;
    margin: 16px auto;
    object-fit: scale-down;
    width: 100%;
    max-height: 300px;
    box-sizing: border-box;
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.clause {
    display: inline-block;
}

/*  レイアウト  ----------------------------*/

main {
    container-type: inline-size;
    container-name: main-container;
}

.grid,
.grid-triple {
    display: grid;
    margin: 16px 0;

    --grid-gap: 16px;
    gap: var(--grid-gap);
}

.img-grid {
    --grid-gap: 16px;

    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--grid-gap));
    margin-inline: 0;
    gap: calc(var(--grid-gap));

    text-align: center;
}

@container main-container (min-width:600px) {
    .grid,
    .grid-triple {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .img-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .img-grid > img {
        max-width: 300px;
    }

    dl {
        grid-template-columns: 128px 1fr;
    }
}

@container main-container (min-width:840px) {
    .grid-triple {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*モーダルウィンドウ*/
.addWindow {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;

    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.25s ease-out;
}

.addWindow > img {
    position: relative;
    object-fit: scale-down;
    z-index: 50;
    margin: 16px auto;
    top: 0;
    left: 0;

    width: 80%;
    height: 80%;
    max-height: 80%;
}

.addWindow > p {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    margin: auto;
    padding: 0;

    text-align: center;
    color: var(--text-light-color);
}

/*------------------------------------------------------ */
