@charset "utf-8";

body,
ul,
p,
table,
th,
td {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #481;
    --most-white: #fff; /*メインの土台*/
    --most-black: #000;
    --high-gray: #eee; /*背景*/
    --low-gray: #298; /*枠など*/
    --font-size: 14px;
    line-height: 1.3em;
}

::selection {
    /*   選択したテキストに適用 */
    color: var(--most-white);
    background-color: var(--main-color);
}

body {
    font-family: sans-serif;
    background-color: var(--low-gray);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

div {
    width: 25%;
    padding: 0 1em 1em;
    margin: 2em 1em;
    flex-grow: 1;

    list-style-type: disc;
    list-style-position: inside;

    bottom: 1em;

    border: solid 2px var(--low-gray);
    font-size: 13px;
    background-color: var(--high-gray);
}

a:any-link {
    text-decoration: 0;
    color: var(--main-color);
}

h1 {
    position: relative;
    display: block;
    z-index: 50;
    margin: 0;
    padding: 0.5em;
    font-size: medium;

    width: 100%;
    background-color: var(--main-color);
}

h2 {
    transform: rotate(-10deg);
    display: inline-block;
    position: relative;
    top: -1em;
    left: -1em;
    padding: 0.5em 0.7em;
    z-index: 1;
    margin: 0;

    border: 2px solid var(--most-black);
    box-shadow: 5px 5px var(--most-black);
    background-color: var(--most-white);
}

a:any-link {
    display: inline-block;
    position: relative;
    left: -1em;
    text-decoration: none;
    padding: 0.5em 1em;

    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;

    color: var(--most-white);
    background-color: var(--main-color);
}

li {
    padding: 0.1em;
}
li:not(:last-child) {
    border-bottom: dashed 1px #ccc;
}
li::marker {
    color: var(--main-color);
    font-size: 1.3em;
}

ol {
    margin: 0 2em 1em;
    padding: 0;
}

dl {
    margin: -1em 0 1em;
}

dl dt {
    font-weight: 600;
    margin: 1em 0 0;
}
dl dd {
    margin: 0 1em;
    line-height: 1.5em;
}
