<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />
        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <title>テンプレート「道」</title>
    </head>

    <body>
        <!-- サイト基本情報 -->
        <div class="ab">
            <h1 class="title">Site Name</h1>
            <div class="subtitle">
                <p>サブタイトル的な内容</p>
                <br />
                <p>複数行も可</p>
            </div>
            <img class="title_bg" src="img/background.jpg" />
        </div>

        <nav>
            <!--ナビメニュー-->
            <ul>
                <li><a href="#">TOP</a></li>
                <li><a href="#sec1">メニュー１</a></li>
                <li><a href="#sec2">メニュー２</a></li>
                <li><a href="#sec3">メニュー３</a></li>
            </ul>
        </nav>
        <main>
            <section id="sec1">
                <p>透明感とシンプルを目標にしたテーマです。</p>
                <p>
                    PCなどでは本文の左側と被るので、タイトル画像は淡い色彩のものが向くかもしれません。<br />
                    タイトル画像をよりしっかり見せたいときには、sectionに<mark>class="none"</mark>を付けると、テキストエリアの背景を透過します。（タイトル画像:
                    <a href="https://jaymantri.com/" target="_blank">jay mantry</a>）
                </p>

                <ul id="update">
                    <li><time>9/28</time>CSS差し替え</li>
                    <li><time>9/11</time>テンプレート公開</li>
                </ul>
            </section>

            <section id="sec2">
                <h2>見出し２</h2>
                <h3>見出し３</h3>
                <h4>見出し４</h4>
                <h5>見出し５</h5>
                <h6>見出し６</h6>
                <a href="">リンク</a>
                <a href="">リンク</a>
                <a href="">リンク</a>
                <a><button>ボタン</button></a> <a><button>ボタン</button></a>
                <p><mark>markで下線を引きます</mark>。</p>
                <ul>
                    <li>リスト１</li>
                    <li>リスト２</li>
                </ul>
            </section>

            <section id="sec3">
                <h2>画像</h2>

                <p>imgに<mark>class="modal-window"</mark>を付けると、クリック時にモーダルウィンドウで表示します。</p>
                <p>
                    imgに<mark>class="trim"</mark>を付けると、横いっぱい・縦最大300pxでトリミングして表示します。縦横比に差がある画像向け。<br />それ以外の場合、大きい画像は最大縦300pxで表示されます。
                </p>

                <img class="modal-window" alt="画像の説明" src="img/thum_ver.jpg" />
                <img class="trim modal-window" alt="画像の説明" src="img/thum_ob.jpg" />
                <img class="trim modal-window" alt="画像の説明" src="img/thum.jpg" />
                <img class="trim modal-window" alt="画像の説明" src="img/thum_ver.jpg" />
            </section>
        </main>

        <footer>
            <ul>
                <li>フッター</li>
                <li>サイト情報など</li>
            </ul>
            <p id="footer-c">
                <a href="https://um-umbrella.github.io/template/" target="_blank">template by 傘の下</a>
            </p>
        </footer>

        <script src="script.js"></script>
    </body>
</html>
