<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow,noarchive" />
        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <title>テンプレート「海と空」</title>
    </head>

    <body>
        <!--背景画像-->
        <img src="img/title.jpg" id="main-bg" />

        <nav>
            <ul>
                <li><a href="#sec1">メニュー</a></li>
                <li><a href="#sec2">メニュー</a></li>
                <li><a href="#sec3">メニュー</a></li>
                <li><a href="#sec2">メニュー</a></li>
                <li><a href="#sec3">メニュー</a></li>
            </ul>
        </nav>

        <main>
            <h1>See and Sky</h1>
            <section id="sec1">
                <p>青いっぱいのテーマです。</p>
                <ul id="update">
                    <li><time>9/29</time>CSS差し替え</li>
                    <li><time>9/6</time>CSS差し替え</li>
                    <li><time>8/31</time>テンプレート公開</li>
                </ul>
            </section>

            <section id="sec2">
                <h2>見出し2</h2>
                <h3>見出し3</h3>
                <h4>見出し4</h4>
                <h5>見出し5</h5>
                <h6>見出し6</h6>
                <hr />
                <a href="">リンク</a>
                <a href="">リンク</a>
                <a href="">リンク</a>
                <button>ボタン</button> <button>ボタン</button>
                <p><mark>markで下線を引きます</mark>。</p>
                <ul>
                    <li>リスト１</li>
                    <li>リスト２</li>
                </ul>
                <dl>
                    <dt>項目名</dt>
                    <dd>項目の内容</dd>
                    <dt>項目名</dt>
                    <dd>項目の内容</dd>
                </dl>
            </section>

            <section id="sec3">
                <h2>グリッド・画像</h2>

                <p>imgに<mark>class="modal-window"</mark>を付けると、クリック時にモーダルウィンドウで表示します。</p>
                <p>
                    imgに<mark>class="trim"</mark>を付けると、横いっぱい・縦最大300pxでトリミングして表示します。縦横比に差がある画像向け。<br />それ以外の場合、大きい画像は最大縦300pxで表示されます。
                </p>

                <div class="grid">
                    <p>
                        グリッド表示１。<br /><mark>div class="grid"</mark>の中身はグリッド表示（最大三列）になります。
                    </p>
                    <p>
                        グリッド表示２。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <p>
                        グリッド表示３。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <div><img class="trim modal-window" alt="画像の説明" src="img/thum_ob.jpg" /></div>
                    <div><img class="trim modal-window" alt="画像の説明" src="img/thum.jpg" /></div>
                    <div><img class="trim modal-window" alt="画像の説明" src="img/thum_ver.jpg" /></div>
                </div>

                <div class="img-grid">
                    <!--３列以上並べたい場合はimg-gridを指定してください（小さい画像向け）-->
                    <img src="img/banner.jpg" />
                    <img src="img/banner.jpg" />
                    <img src="img/banner.jpg" />
                    <img src="img/banner.jpg" />
                </div>

                <img class="modal-window" alt="画像の説明" src="img/thum_ob.jpg" />
            </section>

            <footer>
                <ul>
                    <li>フッター</li>
                    <li>サイト情報など</li>
                </ul>
                <p id="footer-c">
                    <a href="https://um-umbrella.github.io/template/" target="_blank">template by 傘の下</a>
                </p>
            </footer>
        </main>

        <script src="script.js?20240919"></script>
    </body>
</html>
