@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

:root {
    --main-theme: #8a715a;
    --sub-theme: #eee;
    --body-bg: #eee;
    --text-dark-color: #1b1b1b;
    --text-light-color: #fff;
}

/*------------------------------------------------------ */

/* リセットCSS */

html {
    scroll-behavior: smooth;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    line-height: 1.8em;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    font-weight: 300;
    background-color: var(--body-bg);
    color: var(--text-dark-color);
}

ol,
ul {
    margin: 1em;
}

li {
    margin: 0.4em 1em;
    line-height: 1.6em;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--main-theme);
    transition: color 0.3s;
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 16px 0;
}

mark {
    color: inherit;
    background-color: rgb(0 0 0 / 0);
    background-image: linear-gradient(rgba(0 0 0 / 0) 60%, #8a715a34 60%);
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

hr {
    margin: 64px;
    margin-inline: auto;
    width: 70%;
    border: none;
    border-top: 1px solid rgb(0 0 0 /0.1);
}

button {
    margin: 0 4px;
    padding: 8px 16px;
    border: none;

    background-color: var(--main-theme);
    color: var(--text-light-color);
    transition: background-color 0.3s;
}

img {
    max-width: 100%;
}

/* 基本レイアウト -------------------------*/

nav {
    padding: 32px 0;
    background-color: var(--main-theme);
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
}

nav li {
    margin: 0;
    padding: 0.2em 1em;
}

nav :where(a, li):not(:last-child) {
    border-right: 1px solid rgb(0 0 0 / 0.2);
}

nav a:any-link {
    color: var(--text-dark-color);
}

@media screen and (min-width: 768px) {
    .grid2,
    .grid3,
    .grid12,
    .grid21 {
        display: grid;
        gap: 1em;
        margin: 1em 0;
    }

    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1080px) {
        .grid3 {
            grid-template-columns: repeat(3, 1fr);
        }
        .grid12 {
            grid-template-columns: 1fr 2fr;
        }
        .grid21 {
            grid-template-columns: 2fr 1fr;
        }
    }
}

/*------------------------------------------------------ */

/* パーツデザイン ----------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
nav,
#update time {
    position: relative;
    font-family: 'Playwrite DK Loopet', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-left: 1em;
}

h1#title {
    margin: 1em 0;
    padding-left: 0;
    font-size: 3em;
    text-align: center;
}

h1:not(#title),
h2 {
    margin: 3em 0 1em;
    font-size: 1.7em;
}

:where(h1:not(#title), h2, h3, h4, h5, h6)::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '//';

    color: var(--main-theme);
    opacity: 0.5;
}

h3,
h4,
h5,
h6 {
    margin: 2em 0 1em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5,
h6 {
    font-size: 1.2em;
}

li {
    padding-left: 0;
}

dl {
    display: flex;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    gap: 16px 0;

    position: relative;
    border: 2px double var(--sub-theme);
    border-width: 6px;
    padding: 0.8em;
    background-color: var(--text-light-color);

    dt {
        display: inline-block;
        position: relative;
        padding: 0.6em 2em 0;

        text-align: left;
        font-weight: 800;
    }

    dt::before {
        display: block;
        position: absolute;
        top: 0.5em;
        left: 1em;
        content: '//';

        color: var(--main-theme);
    }

    dd {
        margin: -0.5em 1em 0;
        padding: 0 1em 1em;
        width: 100%;
        font-size: 0.9em;
    }

    dd:not(:last-child) {
        border-bottom: 5px dotted var(--sub-theme);
    }
}

hr {
    border: none;
    border-top: 5px dotted var(--main-theme);
    opacity: 0.3;
}

button a,
a button {
    color: var(--text-light-color);
}

button:hover {
    background-color: var(--text-dark-color);
}

button a:hover {
    color: var(--text-light-color);
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* ------------------------------------------------------------------- */
/* 追加のデザイン -------------------*/

#update {
    margin: 0 auto;
    padding: 0.5em;
    width: 100%;
    height: 216px;

    overflow-y: scroll;
    list-style: none;

    line-height: 1em;
    border: 3px double var(--body-bg);
    border-width: 5px;
    color: var(--text-dark-color);
    background-color: var(--text-light-color);

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        margin: 4px 0;
        padding: 1em 0;
    }

    li:not(:last-child) {
        border-bottom: 1px dotted var(--main-theme);
    }

    time {
        margin: 0 1em;
        padding: 0.2em 1em;
        height: fit-content;

        font-size: 0.8em;
        border-radius: calc(1px * infinity);
        color: var(--text-light-color);
        background-color: var(--main-theme);
    }
}

#update::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 240px 2fr;
    }

    nav {
        padding: 1em;
    }

    nav > * {
        position: fixed;
        width: 184px;
    }

    nav ul {
        display: block;
        position: relative;
        justify-content: auto;
        flex-wrap: wrap;
        margin-top: 3em;

        text-align: center;
        list-style: none;
        font-size: 1em;
    }

    nav li {
        margin: 0.2em 0;
        padding: 0em 0.5em;

        font-size: 1em;
        line-height: 2em;
        width: 100%;

        background-color: rgb(0 0 0 / 0);
        transition: 0.5s;
    }

    nav li:hover {
        background-color: var(--body-bg);
        transition: 0.5s;
    }

    nav :where(a, li):not(:last-child) {
        border-right: none;
    }

    h1#title {
        text-align: left;
        padding-left: 1em;
    }

    :where(h1#title)::before {
        display: block;
        position: absolute;
        top: 0em;
        left: 8px;
        content: '//';

        color: var(--sub-theme);
        opacity: 0.3;
    }

    footer {
        position: absolute;
        left: 1em !important;
        width: 100%;

        background-color: rgb(0 0 0 / 0);
    }
}

@media screen and (min-width: 1080px) {
    body {
        grid-template-columns: 0.8fr 2fr 0.8fr;
    }

    nav {
        position: relative;
    }

    nav > * {
        width: 19%;
    }

    nav li {
        margin: 0.5em 0;
    }

    footer {
        position: absolute !important;
        right: 0;
    }
} /*@media*/

/*------------------------------------------------------ */

body {
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    background-color: var(--main-theme);
}

main {
    background-color: var(--body-bg);

    border-top: 2px double var(--main-theme);
    border-bottom: 2px double var(--main-theme);
    border-width: 6px;
}

section {
    margin: 0 32px;
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
    main {
        border: none;
        border-left: 2px double var(--main-theme);
        border-width: 6px;
    }

    footer {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 32px !important;
        width: var(--nav-width);

        font-size: small;
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
        width: 100%;
        max-width: 1000px;
        padding: 16px;
        padding-bottom: 128px;

        border-right: 2px double var(--main-theme);
        border-width: 8px;
    }
} /*@media*/
