@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet&display=swap');

/* -------------------------------------------------------
* Template: 倉林
* ©2024 under my umbrella（https://um-umbrella.github.io/template/）
*------------------------------------------------------ */

:root {
    --main-theme: #8a715a;
    --sub-theme: #eee;
    --body-bg: #eee;
    --text-dark-color: #1b1b1b;
    --text-light-color: #fff;
}

/*------------------------------------------------------ */

/* リセットCSS */

html {
    scroll-behavior: smooth;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    line-height: 1.8em;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    font-weight: 300;
    background-color: var(--main-theme);
    color: var(--text-dark-color);
}

ol,
ul {
    margin: 1em;
}

li {
    margin: 0.4em 1em;
    line-height: 1.6em;
}

li::marker {
    color: var(--main-theme);
}

a {
    text-decoration: none;
    color: var(--main-theme);
    transition: color 0.3s;
}

a:hover {
    color: var(--text-dark-color);
}

p {
    line-height: 1.8em;
    margin: 0.5em 0;
}

mark {
    color: inherit;
    background-color: rgb(0 0 0 / 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, #8a715a34 60%);
}

::selection {
    background-color: var(--main-theme);
    color: var(--body-bg);
}

hr {
    margin: 64px;
    margin-inline: auto;
    width: 70%;
    border: none;
    border-top: 5px dotted rgb(0 0 0 /0.1);
}

button {
    margin: 0 0.2em;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;

    background-color: var(--main-theme);
    color: var(--text-light-color);
    transition: background-color 0.3s;
}

img {
    max-width: 100%;
}

/* 基本レイアウト -------------------------*/

main {
    container-type: inline-size;
    container-name: main-container;

    background-color: var(--sub-theme);
}

nav {
    padding: 1em 0 2em;
    background-color: var(--main-theme);

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        list-style: none;
    }

    li {
        margin: 0;
        padding: 0.2em 1em;
    }

    :where(a, li):not(:last-child) {
        border-right: 1px solid rgb(0 0 0 / 0.2);
    }

    a:any-link {
        color: var(--text-dark-color);
    }
}

footer {
    padding: 2em 0;
    font-size: smaller;
    background-color: var(--main-theme);

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5em 0;
        padding: 1em 0 0;

        list-style: none;
    }

    li {
        margin: 0 0.5em;
    }

    #footer-c {
        display: block;
        margin: 0;
        left: 0;
        bottom: 0;

        opacity: 0.5;
        text-align: center;
        font-size: x-small;
        color: var(--text-dark-color);

        a {
            color: var(--text-dark-color);
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    nav {
        position: fixed !important;
        align-items: stretch;
        align-content: center;
        width: calc(100vw / 4.042);
        height: 100%;
        top: 0;
        left: 0;

        opacity: 1;
        visibility: visible;
        transition: none;
        line-height: 1em;
        border: none;

        ul {
            display: grid;
        }

        li {
            padding: 0.5em 0;
        }

        li:not(:last-child) {
            border: none;
        }
    }

    footer {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: calc(100vw / 4.042);

        font-size: small;
    }
}

@media screen and (min-width: 768px) {
    .grid2,
    .grid3,
    .grid12,
    .grid21 {
        display: grid;
        gap: 1em;
        margin: 1em 0;
    }

    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1080px) {
        .grid3 {
            grid-template-columns: repeat(3, 1fr);
        }
        .grid12 {
            grid-template-columns: 1fr 2fr;
        }
        .grid21 {
            grid-template-columns: 2fr 1fr;
        }
    }
}

/*------------------------------------------------------ */

/* パーツデザイン ----------------------*/

main {
    border-top: 5px double var(--main-theme);
    border-bottom: 4px double var(--main-theme);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
#update time,
dt {
    position: relative;
    font-family: 'Playwrite DK Loopet', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
        sans-serif;
}

h1:not(#title),
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 1em;
    padding-left: 1em;
}

h1#title {
    margin: 1.5em 0 1em;

    line-height: 1em;
    text-align: center;
    font-size: 3em;
}

h1:not(#title) {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5,
h6 {
    font-size: 1.1em;
}

:where(h1:not(#title), h2, h3, h4, h5, h6, dt)::before {
    display: block;
    position: absolute;
    left: 0;

    content: '//';
    color: #8a715ab0;
}

@media screen and (min-width: 768px) {
    h1#title {
        position: fixed;
        z-index: 5;

        top: 0;
        left: 0;
        width: calc(100vw / 4.042);

        text-align: center;
    }
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 2em 0;
    padding: 1em;

    border: 7px double var(--body-bg);
    background-color: var(--text-light-color);

    dt {
        margin: 0.5em;
        margin-left: 1em;
        padding: 0.5em 1em;
        font-weight: bold;
    }

    dd {
        margin: -0.5em 1.5em 0;
        padding: 0;
        padding-bottom: 1em;

        font-size: 0.8em;
    }

    dd:not(:last-child) {
        border-bottom: 5px dotted var(--sub-theme);
    }
}

button:hover {
    background-color: var(--text-dark-color);
    transition: 0.3s;
}

button a,
a button {
    color: var(--text-light-color);
}

button a:hover {
    color: var(--text-light-color);
}

img.trim {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

section {
    margin: 0;
    padding: 2em;
}

/* ------------------------------------------------------------------- */
/* 追加のデザイン -------------------*/

.clause {
    display: inline-block;
}

.bg-cover {
    padding: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#update {
    margin: 1em auto;
    padding: 0.5em;
    width: 100%;
    height: 216px;

    overflow-y: scroll;
    list-style: none;

    line-height: 1em;
    color: var(--text-dark-color);
    background-color: #fff;
    border: 5px double var(--sub-theme);

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        margin: 4px 0;
        padding: 1em 0;
    }

    li:not(:last-child) {
        border-bottom: 1px dotted var(--main-theme);
    }

    time {
        margin: 0 1em;
        padding: 0.2em 1em;
        height: fit-content;

        font-size: 0.8em;
        border-radius: calc(1px * infinity);
        color: var(--text-light-color);
        background-color: var(--main-theme);
    }
}

#update::-webkit-scrollbar {
    display: none;
}

/*------------------------------------------------------ */

@media screen and (min-width: 768px) {
    main {
        border: none;
        border-left: 5px double var(--main-theme);
    }
} /*@media*/

/*------------------------------------------------------ */

@media screen and (min-width: 1080px) {
    main {
        width: 100%;
        max-width: 800px;

        border: none;
        border-left: 5px double var(--main-theme);
        border-right: 5px double var(--main-theme);
    }
} /*@media*/
